.wrapper {
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding-top: 16px;
}

.inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 16px; 
}

@media screen and (min-width: 787px) {
    .wrapper {
        flex-direction: row;
        gap: 0;
        justify-content: space-between;
    }

    .inner {
        padding-left: 16px;
    }
}